.header{
    @extend%flex;
    justify-content: space-around;
    background-color: $color-g;
    .icon{
        img{
            width: 50px;
            transform: rotate(292deg);
            position: absolute;
            top: 1px;
            left: 88px;
        }
        h1{
            text-transform: uppercase;
            position: relative;
        }
    }
    .nav{
        ul{
            @extend%flex;
            height: 70px;
            li{
                text-transform: uppercase;
                width: 70px;
                a{
                    position: relative;
                    color: $color-btn;
                    &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        bottom: 0;
                        transition: width 0.5s;
                    }  
                }
                a:hover::before{
                    width: 100%;
                    border: 1px solid;

                }
            }
        }
    }

}